@font-face {
  font-family: 'britanica';
  font-style: normal;
  font-weight: normal;
  src: local('britanica-bold'), url('../fonts/britanica-bold.woff') format('woff');
}

body {
  font-family: britanica;
  background-color: #CAFFD0;
  width: 100vw;
  height: 100vh;
}

// NAVBAR DESKTOP:
@media only screen and (min-width: 501px) and (max-width: 2700px) {
  .navbar { 
    display: flex;
    align-items: flex-end;
    width: 30vw;
    height: 100vh;
    position: fixed;
    margin-left: 1040px;
}

.nav-div {
  display: flex;
  flex-direction: row;
  width: 30vw;
  height: 100vh;
  position: fixed;
  text-align: center;
}

.nav-buttons {
  width: 140px;
  border: none;
  margin-top: -10px;
  height: 101%;
  color :black;
  border: none;
  background-color: #CAFFD0;
}

.dark {
  background-color: black !important;
}

#about-nav-button {
  border-left: black 3px solid;
  border-bottom: none;
}

#web-nav-button {
  border-left: black 3px solid;
}

#ad-nav-button {
  border-left: black 3px solid;
  border-bottom: none;
}

a:link {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
}

a:visited { 
  text-decoration: none; 
  color: black;
 }

.nav-text{
  transform: rotate(270deg);
  margin-top: 82vh;
  font-size: 70px;
  font-family: britanica;
  width: inherit;
  color: black;
}

.click {
  color: #CAFFD0;
}
}

// Homepage 
.homepage {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.name-title-email {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  width: inherit;
}

.nat {
  line-height: 0.75;
  font-size: 170px;
  margin-bottom: 0px;
  margin-top: 0px;
  width: inherit;
}

.title-email {
  font-size:100px;
  line-height: 0.85;
  margin-top: 0;
  margin-bottom: 75px;
}

.footer {
display: flex;
flex-direction: row;
margin-bottom: 1vh;
}

.web-design-dev {
font-size: 20px;
margin-right: 5px;
}

.peace {
  width: 15px;
  height: 21px;
  margin-top: 23px;
  margin-left: 3px;
}

// About 
.about-section {
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin-left: 30px;
  margin-top: 0;
}

.about-me {
  width: 60vw;
  display: flex;
  flex-direction: row;
}

#about-back {
  width: 130px;
  height: 130px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

#about-back-text {
  margin-top: 14px;
  margin-right: 0px;
  margin-left: 160px;
}

.about-me-info {
  font-size: 58px;
  line-height: 0.90;
  margin-top: 25px;
}

.profile-pic {
  width: 25vw;
  position: absolute;
  margin-left: 550px;
  margin-top: 170px;
  z-index: -2;
}

.about-email {
  display: flex;
  flex-direction: row;
  width: 60vw;
  position: fixed;
  bottom: 50px;
  font-size: 58px;
}

.skills {
  display: flex;
  flex-direction: row;
  width: 70vw;
  position: fixed;
  bottom: 0px;
}

.i {
  width: 50px;
}

// Projects
.project-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}

.header {
  display: flex;
  flex-direction: row;
  width: 60vw;
}

.back-button {
  border: none;
  font-size: 120px;
  background: none;
  margin-top: 7px;
  margin-left: 20px;
  margin-bottom: 0px;
}

#web-back {
  margin-left:342px;
}

.projects {
  font-size: 120px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.individual-project {
  display: flex;
  flex-direction: column;
}

.project-title {
  font-size: 80px;
  margin-top: 20px;
  margin-bottom: 0px;
}

#city-title {
  margin-bottom: 4px;
}

.project-img {
  width: 60vw;
}

.project-description {
  width: 60vw;
  font-size: 20px;
  margin-bottom: 0px;
}

.tech-used {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  margin-bottom: 0px;
  margin-top: 20px;
}

.tech-list {
  display: flex;
  flex-direction: row;
  margin-top: -10px;
}

.project-links {
  display: flex;
  flex-direction: column;
}

#project-web-link {
  font-size: 25px;
}

#project-git-link {
  font-size: 25px;
}

#pixel-title {
  margin-bottom: 4px;
}

#samsung-title {
  margin-bottom: 4px;
}

#ad-back {
  margin-left: 230px;
}

#famous-five {
  margin-bottom: 4px;
}


// MEDIA QUERIES TO COVER - DESKTOP / TABLET:

// Below media query not working
@media only screen and (min-width: 2560px) {
  .navbar { 
    margin-left: 2130px !important;
  }
}

@media only screen and (min-width: 1920px) and (max-width: 2559px) {
  .navbar { 
    margin-left: 1490px !important;
  }

.nav-text {
  font-size: 110px !important;
 }

.nat {
  font-size: 230px !important;
}

.title-email {
  font-size: 130px !important;
}

.web-design-dev {
  font-size: 30px !important;
  }

.about-me-info {
  font-size: 95px !important;
}

.back-button {
  font-size: 170px !important;
}

#about-back-text {
  margin-left: 270px !important;
}

.about-email {
  font-size: 95px !important;
}

.skills {
  font-size: 24px !important;
}

#web-back {
  margin-left: 475px !important;
}

#ad-back {
  margin-left: 317px !important;
}

.projects {
  font-size: 170px !important;
}

.project-title {
  font-size: 100px !important;
}

.project-description {
  font-size: 30px !important;
}

.tech-used {
  font-size: 35px !important;
}

.tech-list {
  font-size: 25px !important;
}

#project-web-link {
  font-size: 35px !important;
}

#project-git-link {
  font-size: 35px !important;
}
}

// MEDIA QUERY NOT WORKING
@media only screen and (min-width: 1680px) and (max-width: 1919px) {
  .navbar { 
    margin-left: 1250px !important;
  }
}

@media only screen and (min-width: 1600px) and (max-width: 1679px){
  .navbar { 
    margin-left: 1170px !important;
  }
}

@media only screen and (min-width: 1535px) and (max-width: 1599px) {
  .navbar { 
    margin-left: 1105px !important;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1534px) {
  .navbar { 
    margin-left: 1005px !important;
  }
}

@media only screen and (min-width: 1366px) and (max-width: 1439px) {
  .navbar { 
    margin-left: 940px !important;
  }
}

// MEDIA QUERY NOT WORKING
@media only screen and (min-width: 1280px) and (max-width: 1365px) {
  .navbar { 
    margin-left: 856px !important;
  }

  .nav-text {
    font-size: 80px !important;
   }
  
  .nat {
    font-size: 150px !important;
  }
  
  .title-email {
    font-size: 90px !important;
  }
  
  .web-design-dev {
    font-size: 20px !important;
    }
  
  .about-me-info {
    font-size: 95px !important;
  }
  
  .back-button {
    font-size: 170px !important;
  }
  
  #about-back-text {
    margin-left: 270px !important;
  }
  
  .about-email {
    font-size: 95px !important;
  }
  
  .skills {
    font-size: 24px !important;
  }
  
  #web-back {
    margin-left: 475px !important;
  }
  
  #ad-back {
    margin-left: 317px !important;
  }
  
  .projects {
    font-size: 170px !important;
  }
  
  .project-title {
    font-size: 100px !important;
  }
  
  .project-description {
    font-size: 30px !important;
  }
  
  .tech-used {
    font-size: 35px !important;
  }
  
  .tech-list {
    font-size: 25px !important;
  }
  
  #project-web-link {
    font-size: 35px !important;
  }
  
  #project-git-link {
    font-size: 35px;
}
}


// LAST PRIORITY //
@media screen and (min-width: 501px) and (max-width: 1279px) {
  .navbar { 
    margin-left: 875px !important;
}

  .nav-text {
    font-size: 80px !important;
  }

  .nat {
    font-size: 160px !important;
  }

  .title-email {
    font-size: 90px !important;
  }

  .web-design-dev {
    font-size: 20px !important;
    }

  .about-me-info {
    font-size: 60px !important;
  }

  .back-button {
    font-size: 110px !important;
  }

  #about-back-text {
    margin-left: 65px !important;
  }

  .about-email {
    font-size: 60px !important;
  }

  .skills {
    font-size: 15px !important;
  }

  #web-back {
    margin-left: 168px !important;
  }

  #ad-back {
    margin-left: 65px !important;
  }

  .projects {
    font-size: 110px !important;
  }

  .project-title {
    font-size: 70px !important;
  }

  .project-description {
    font-size: 17px !important;
  }

  .tech-used {
    font-size: 22px !important;
  }

  .tech-list {
    font-size: 15px !important;
  }

  #project-web-link {
    font-size: 22px !important;
  }

  #project-git-link {
    font-size: 22px !important;
  }
}


// MOBILE NAV MEDIA QUERY:
@media all and (min-width: 50px) and (max-width: 500px) {
  .navbar {
    display: flex !important;
    position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;
    align-items: none !important;
    height: 30vh !important;
    margin-left: -8px !important;
  }
  
  .nav-div {
    display: flex !important;
    flex-direction: column!important;
    width: 100vw !important;
    height: inherit !important;
    position: fixed !important;
    text-align: center !important;
  }
  
  a:link {
    text-decoration: none !important;
    color: black !important;
  }
  
  a:visited { 
    text-decoration: none!important; 
    color: black !important;
   }
  
  .nav-buttons {
    color :black !important;
    border: none !important;
    background-color: #CAFFD0;
    margin-left: -10px !important;
    height: 10vh;
  }
  
  #about-nav-button {
    border-left: none !important;
    border-top: black 3px solid !important;
    border-bottom: black 3px solid !important;
  }
  
  #ad-nav-button {
    border-top: black 3px solid !important;
    border-bottom: black 3px solid !important;
  }
  
  .nav-text {
    font-size: 30px !important;
    transform: none !important;
    margin-top: 13px;
  }

  .name-title-email {
    margin-left: 5px;   
  }

  .nat {
    font-size: 70px !important;
    margin-top: 20px;
  }

  .web-design-dev {
    font-size: 15px;
  }

  .title-email {
    font-size: 40px !important;
    margin-bottom: 10px;
  }

  .peace {
    width: 10px;
    height: 15px;
    margin-top: 18px;
    margin-left: 1px;
  }

  // About 
.about-section {
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin-left: 5px;
  margin-top: 0;
}

.about-me {
  width: 60vw;
  display: flex;
  flex-direction: row;
}

#about-back {
  width: 5px;
  height: 5px;
  margin-top: 14px;
  margin-right: -92px;
}

#about-back-text {
  margin-top: 14px;
  margin-right: 0px;
  margin-left: 0px;
}

.about-me-info {
  font-size: 25px;
  line-height: 0.90;
  margin-top: 35px;
}

.profile-pic {
  width: 45vw;
  position: absolute;
  margin-left: 130px;
  margin-top: 140px;
  z-index: -2;
}

.about-email {
  display: flex;
  flex-direction: row;
  width: 60vw;
  position: absolute;
  bottom: 250px;
  font-size: 25px;
}

.skills {
  font-size: 10px;
  width: 80vw;
  position: absolute;
  bottom: 200px;
}

.i {
  width: 50px;
}

// Projects
.project-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
}

.header {
  display: flex;
  flex-direction: row;
  width: 60vw;
  margin-top: 20px !important;
}

.back-button {
  font-size: 45px;
  margin-top: 4px;
  margin-left: 50px;
}

#web-back {
  margin-left: 20px;
}

.projects {
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.project-title {
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 0px;
}

#city-title {
  margin-bottom: 4px;
}

.project-img {
  width: 93vw;
}

.project-description {
  width: 93vw;
  font-size: 15px;
  margin-bottom: 0px;
}

.tech-used {
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 20px;
}

.tech-list {
  font-size: 12px;
  width: 93vw;
}

.project-links {
  display: flex;
  flex-direction: column;
}

#project-web-link {
  font-size: 20px;
}

#project-git-link {
  font-size: 20px;
}

#ad-back {
  margin-left: -26px;
}
}


